APP_ENV=development

API_KEY=uuid
DB_HOST=localhost
DB_PORT=5432
DB_NAME=database
DB_USER=root
DB_PASS=password
DB_SSLMODE=disable

RATE_LIMITER_REQUEST_SEC=5
RATE_LIMITER_REQUEST_BRUST=15

REDIS_ADDR=redis:6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0