APP_ENV=development

SERVER_PORT=8080
API_KEY=xxxxxxxxxxxxxxxx

DB_HOST=db
DB_PORT=5432
DB_NAME=database
DB_USER=root
DB_PASS=password
DB_SSLMODE=disable

RATE_LIMITER_REQUEST_SEC=5
RATE_LIMITER_REQUEST_BRUST=15

REDIS_ADDR=redis:6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0


JWT_SECRET=your_jwt_secret_key
JWT_ENCRYPT_KEY=your_jwt_encryption_key

MAIL_PROVIDER_TYPE=mailtrap
MAILTRAP_MAIL_SENDER=noreply
MAILTRAP_NAME_SENDER=noreply@sample.com
MAILTRAP_URL=https://sandbox.api.mailtrap.io/api/send/xxxxxxx
MAILTRAP_API_KEY=your_mailtrap_api_key